
#pageone .ui-header {
    background: #5069A0;
}
           
           
           [data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} 
           
           .listCont {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 500px;
           }

#pageone .ui-header {
    background: #00aeef;
}
           [data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}

/*     .ui-icon-trendingIcon
{
background: url('images/trending.png') no-repeat rgba(0, 0, 0, 0.4) 2% !important;
background-size:4px 4px;
}
                .ui-icon-homeIcon
{
background: url('images/trending.png') no-repeat rgba(0, 0, 0, 0.4) 2% !important;
background-size:4px 4px;
}
                .ui-icon-mapIcon
{
background: url('images/trending.png') no-repeat rgba(0, 0, 0, 0.4) 2% !important;
background-size:4px 4px;
}
                .ui-icon-eventsIcon
{
background: url('images/trending.png') no-repeat rgba(0, 0, 0, 0.4) 2% !important;
background-size:4px 4px;
}*/
           div#list {
  overflow: scroll;
  width: 100%;
  height: auto;
  margin: 0;
  white-space: nowrap;
  background: #00aeef;   
}
div.wrapper {
  overflow: visible;
  text-align: left;
    
}
div.element {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 1em;
  background: #FFFFFF;
  border: 1px solid #79A777;
  color: #FFFFFF;
  text-shadow: 0 1px 1px #000;
  cursor: move;
  width: 60px;
  height: 60px;
  font-size: 0.8em;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
	
}
           hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
           .listCont {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 500px;
}
           .sliderList{
             overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 500px;  
               
           }
           
           .ui-icon-bars {
    background-image: url('search.png');
    width:24px;
    height: 24px;
}
           .profile_image{
               border-radius: 50px;
               width: 300px;
               height: 300px;
               margin-left: 50px;
           }
.ui-li-icon-right {
    max-height: 40px;
    max-width: 40px;
    right: 10px;
    top: .9em;
}
.favClass{
        
    float:left;
}

.ui-btn-icon-right:after{
    content: none !important;
}

.ui-btn-icon-bottom:after {
    display: none !important;
}

.ui-bar-b{
    border:none !important;
}


/*Custom style begins*/



/*
*
*
    Header Styles
*
*
*/


.ui-header{
    width: 100%;
    float: left;
    top: 0;
    position: fixed;
    z-index: 9999999;
}

.ui-footer{
    bottom: 0;
    position: fixed;
}

.book_bingo_header_top{
    border-bottom: 1px solid #fff;
    width: 100%;
    float:left;
}

.book_bingo_header_top a {
    width: 20%;
    float: left;
}

.book_bingo_header_top h1{
    width: 68%;
    float: left;
    margin: 18px 0;
    text-align: center;
    font-size: 20px;
}

.book_bingo_header_top h1 img{
    width: 20px;
    margin: -3px;
    padding: 0 8px;
}

.book_bingo_search{
    width: 94%;
    float: left;
    margin: 20px 3%;
}

.book_bingo_search div{
    height: 40px;
}

.book_bingo_search input{
    padding: 0 10px 0 50px;
    height: 40px;
    color: #777;
}

.ui-input-search:after {
    left: 1.3125em !important;
}

.book_bingo_search div{
    background-color: #fff !important;
    border-color: #fff !important;
    color: #000 !important;
    text-shadow: none !important;
    box-shadow: initial;
    border-radius: 0;
}

.ui-icon-delete:after {
    background-image: url(images/mic.png) !important;
    background-color: #fff;
}

.ui-input-clear-hidden{
    display: block !important;
}

/*Trending page Styles*/

.trending_body{
    top: 145px;
    bottom: 43px;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

.trending_body.map{
    top: 64px;
}

.trending_body.map .trending_list ul{
    margin-top: 0;
}

.trending_body_top{
    top: 124px ;
}

.trending_body .trending_list ul li{
    border-bottom: 1px solid #514a9d;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.trending_list ul li a{
    border: none !important;
}
.trending_list ul li .trending_list_img img{
    width: 50px !important;
    height: 50px;
    border-radius: 50% !important;
    float: left;
    margin: 3px 0;
}

.ui-listview>.ui-li-has-thumb>.ui-btn{
    padding-left: 5.25em !important;
}

.trending_list_desc{
    width: 50%;
    float: left;
    margin-left: 2%;
}

.ui-btn-icon-right{
    padding-right: 1em !important;
}

.ui-listview-inset>li>a.ui-btn {
    border-right-width: 0;
    border-left-width: 0;
}

.trending_place{
    width: 15%;
    float: left;
}

.trending_place img{
    width: 45px;
}

.favClass{
    width: 17%;
    float: left;
    margin: 8px 0;
}

.favClass img{
    width: 30px;
    float: right;
}

.mob-menu{
    width: 10%;
    float: left;
    padding: 10px;
}

.mob-menu img{
    width: 100%;
}

.mob-setting{
    width: 10%;
    padding: 10px 0;
    float: right;
}

.mob-setting img{
    float: right;
    width: 100%;
}

.bottom_menu_item{
    background-color: #00aeef !important;
    padding-bottom: 0 !important;
}

.bottom_menu_item img{
    width: 25px;
}

.bottom_menu_item p{
    font-size: 10px;
    text-shadow: none;
    margin: 2px 0 5px;
    color: #fff;
}

.menu_current {
    background: #059 !important;
}

/*
*
*
    Header Styles
*
*
*/

.hdr_crsl .element{
    width: 35px !important;
    height: 35px !important;
}

.hdr_crsl .element img{
    width: 40px;
    margin: -2px -3px;
}

div.txt {
    display: inline-block;
    margin: 0 5px 5px 0;
    cursor: move;
    width: 62.59px;
    font-size: 0.8em;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
    text-shadow: none;
}

.event-cal p{
    text-shadow: none;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 80%;
    float: left;
    margin: 3px 0;
}

.event-cal img{
    float: left;
    width:10%;
}



.cal-date{
    width: 10%;
    float: left;
    font-weight: 400;
}

.cal-desc{
    width: 80%;
    float: left;
    font-size: 13px;
    font-weight: 400;
    margin-top: 2px;
}

.cal-arrrow{
    width: 10%;
    float: left;
    margin-top: 7px;
}

.cal-arrrow img{
    float: right;
}

.event_date_list ul li a div{
    color: #00aeef;
}

.event_actv_cal_color div{
    color: #5fe4b2 !important;
}

.event_actv_cal_color .cal-date{
    margin-top: 7px;
}

.img-left{
    transform:          rotate(180deg);
    -ms-transform:      rotate(180deg);
    -moz-transform:     rotate(180deg);
    -webkit-transform:  rotate(180deg);
    -o-transform:       rotate(180deg);
}

.map .favClass{
    margin: 0;
    text-align: right;
    margin-top: 3px;
}

.map .trending_place{
    border: 2px solid #00aeef;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 8px;
}

.map .trending_place p{
    color: #00aeef;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
}

.map .trending_list_desc{
    width: 54%;
    float: left;
    margin-left: 4%;
    margin-top: 7px;
    font-size: 20px;
}

.map ul li.ui-first-child::after {
    height: 100%;
    content: "Compleated";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    text-align: center;
    line-height: 78px;
    color: #5fe4b2;
    text-shadow: none;
    font-size: 20px;
}

.map ul li.to-cmplt::after {
    height: 100%;
    content: "Compleat the current task to unlock";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    text-align: center;
    line-height: 78px;
    color: #d4e45f;
    text-shadow: none;
    font-size: 20px;
}

.map-page-map{
    height: 80%;
}
/*
****
********
Mobile Landscape
************/


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    .ui-header{
        width: 100%;
        float: left;
        top: 0;
        position: fixed;
        z-index: 9999999;
    }

    .ui-footer{
        bottom: 0;
        position: fixed !important;
    }

    .mob-menu img, .mob-setting img{
        width: 50%;
    }

    .book_bingo_header_top h1{
        width: 73%;
    }

    .hdr_crsl .element{
        width: 30px !important;
        height: 30px !important;
        margin: 5px 23px 5px 0;
    }

    div.txt {
        margin: 0 18px 5px 0;
    }

    .trending_body {
        bottom: 43px;
    }

    .event-cal p{
        width: 90%;
    }

    .event-cal img{
        width: 5%;
    }

    .map-page-map{
        width: 61%;
        float: left;
        height: 100%;
    }

    .map-page-map iframe{
        height: 251px !important;
    }

    .trending_list ul li .trending_list_img img {
        width: 35px !important;
        height: 35px;
        margin-top: 0;
    }

    .map .favClass p{
        margin: .4em 0;
    }

    .map .trending_list_desc {
        width: 52%;
        font-size: 17px;
    }

    .map .trending_place {
        width: 20px;
        height: 20px;
    }

    .map .trending_place p {
        font-size: 15px;
        margin-top: 0px;
    }

    .map .trending_list{
        float: left;
        width: 39%;
        height: 268px;
    }

    .map ul li.ui-first-child::after, .map ul li.to-cmplt::after {
        line-height: 66px;
        font-size: 15px;
    }


}